.control {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__label {
    font-size: 24px;
    color: rgb(4, 120, 81);
    font-weight: 700;

    &-action {
      font-size: 24px;
      color: rgb(45, 72, 208);
      font-weight: 700;
      font-style: italic;
    }
  }
}
